python-dotenv
Flask-Cors
Flask-JWT
Flask-JWT-Extended
Flask-RESTful
Flask-SQLAlchemy
SQLAlchemy
psycopg2-binary
Flask-Migrate
Flask-CORS
Werkzeug
jinja2
PyJWT
flask
google-cloud-storage
google-cloud-pubsub
pg8000
cloud-sql-python-connector[pg8000]